<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet permission for potential cloud backup -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Notification listener permission -->
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"/>

    <!-- Foreground service permission for keeping the listener active -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!-- Wake lock to ensure notifications are captured -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:label="Unseen"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Notification Listener Service -->
        <service
            android:name=".UnseenNotificationListener"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Queries for checking installed messengers -->
    <queries>
        <!-- WhatsApp -->
        <package android:name="com.whatsapp" />

        <!-- Telegram -->
        <package android:name="org.telegram.messenger" />

        <!-- Facebook Messenger -->
        <package android:name="com.facebook.orca" />

        <!-- Instagram -->
        <package android:name="com.instagram.android" />

        <!-- Viber -->
        <package android:name="com.viber.voip" />

        <!-- LINE -->
        <package android:name="jp.naver.line.android" />

        <!-- TikTok -->
        <package android:name="com.zhiliaoapp.musically" />

        <!-- HTTPS intent -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>
</manifest>
